@page
@model MatchingGameWeb.Pages.Game_JQueryModel
@{
}

<div class="container text-center border rounded border-3 border-light mb-2 pt-1">
    <div class="row d-flex align-items-center justify-content-center mb-3">
        <button id="startBtn" class="btn btn-primary col-6"></button>
        <p class="col-4 text-end">Player 1 Score:</p>
        <p id="p1Score" class="col-2 text-start"></p>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <p id="msg" class="col-6">Click Start to Play</p>
        <p class="col-4 text-end">Player 2 Score:</p>
        <p id="p2Score" class="col-2 text-start"></p>
    </div>
</div>

<div class="d-flex flex-column align-items-center border rounded border-3 border-light p-1">
    <div class="row gx-0">
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
    </div>
    <div class="row gx-0 mt-1">
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
    </div>
    <div class="row gx-0 mt-1">
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
    </div>
    <div class="row gx-0 mt-1">
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
        <div class="col"><img class="img-fluid piece" src="/images/background.jpeg" /></div>
    </div>
</div>

@section Scripts {
    <script>
        let startBtn;
        let msg;
        let p1Score;
        let p2Score;
        let playerOne = 0;
        let playerTwo = 0;
        let pieces;
        let pile = [];
        let backImage = [];
        let turnArr = [];
        let gameStarted = false;
        let currentTurn = "Player One";

        $(document).ready(function() {
            startBtn = document.querySelector("#startBtn");
            msg = document.querySelector("#msg");
            p1Score = document.querySelector("#p1Score");
            p2Score = document.querySelector("#p2Score");
            pieces = Array.from(document.querySelectorAll(".piece"));
            startBtn.textContent = "Start";

            $(startBtn).click(startGame);
            $(pieces).click(takeSpot);
        });

        async function takeSpot(e) {
            if(gameStarted && turnArr.length < 2) {
                e.target.src = backImage[pieces.indexOf(e.target)];
                if(turnArr[0] !== e.target) {
                    turnArr.push(e.target);
                }
                if(turnArr.length == 2) {
                    await new Promise(resolve => setTimeout(resolve, 2000));
                    if(turnArr[0].src === turnArr[1].src) {
                        if(gameStarted) {
                            $(turnArr).animate({opacity: 0}, 1000).addClass("found");
                            turnArr = [];
                            if(currentTurn === "Player One") {
                                playerOne++;
                                p1Score.textContent = playerOne;
                            } else {
                                playerTwo++;
                                p2Score.textContent = playerTwo;
                            }
                            checkEndGame();
                        }
                    }
                    else {
                        $(turnArr).attr("src", "/images/background.jpeg");
                        turnArr = [];
                        currentTurn = (currentTurn === "Player One") ? "Player Two" : "Player One";
                        msg.textContent = currentTurn + "'s Turn";
                    }
                }
            }
        }

        function checkEndGame() {
            let b = pieces.every(el => el.classList.contains("found"));
            if(b) {
                if(playerOne > playerTwo) {
                    msg.textContent = "Player One Wins!!!";
                } else if (playerTwo > playerOne) {
                    msg.textContent = "Player Two Wins!!!";
                } else {
                    msg.textContent = "Tie Game!!!";
                }
            }
        }

        function startGame() {
            currentTurn = "Player One";
            if(!gameStarted) {
                $(pieces).css("opacity", 100);
                $(pieces).removeClass("found");
                gameStarted = true;
                startBtn.textContent = "Stop"
                turnArr = [];
                setupBoard();
                playerOne = 0;
                playerTwo = 0;
                p1Score.textContent = playerOne;
                p2Score.textContent = playerTwo;
                msg.textContent = currentTurn + "'s Turn";
            } else {
                gameStarted = false;
                startBtn.textContent = "Start";
                msg.textContent = "Click Start to Play";
                $(pieces).attr("src", "/images/background.jpeg");
            }
        }

        function setupBoard() {
            backImage = [];
            pile = [
            "/images/bassclef.jpeg", "/images/bumblebee.jpeg", "/images/candy.jpeg", "/images/card.jpeg",
            "/images/chair.jpeg", "/images/dice.jpeg", "/images/lamp.jpeg", "/images/pen.jpeg",
            "/images/squares.jpeg", "/images/trebleclef.jpeg", "/images/bassclef.jpeg", "/images/bumblebee.jpeg",
            "/images/candy.jpeg", "/images/card.jpeg", "/images/chair.jpeg", "/images/dice.jpeg",
            "/images/lamp.jpeg", "/images/pen.jpeg", "/images/squares.jpeg", "/images/trebleclef.jpeg",];

            fisherYatesShuffle(pile);
            backImage.push(...pile);
        }

        function fisherYatesShuffle(arr) {
            for(let i = arr.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [arr[i], arr[j]] = [arr[j], arr[i]];
            }
        }
    </script>
}